<!-- cargango o buscando -->
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>


<div class="row" *ngIf="!cargando">
    <div class="col-12">

        <div class="card">
            <div class="card-body">

                <!-- crear -->
                <div class="text-right">
                    <button [routerLink]="['/modalidad','nueva']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                      <i class="fa fa-plus"></i>
                      Crear Modalidad
                    </button>
                </div>

                <!-- cantidad de modalidades -->
                <h3 class="card-title"> Modalidades Registradas (<small> {{totalRegistros}} </small>) </h3>

                <!-- Tabla -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Modalidad </th>
                            <th> Operaciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let modalidad of modalidades">
                            <td>{{modalidad.modalidad}}</td>
                            <td>{{modalidad.estadoMod}}</td>
                            <td>
                                <button [routerLink]="['/modalidad',modalidad._id]" class="btn btn-primary">
                                  <i class="fa fa-edit"></i>
                                </button>

                                <button (click)="desactivarModalidad(modalidad)" class="btn btn-danger">
                                  <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- paginacion -->
                <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                  Anterior
                </button>

                <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                  Siguiente
                </button>


            </div>
        </div>

    </div>
</div>